[tool.poetry]
name = "keuknet-client"
version = "0.1.0"
description = ""
authors = ["Keukeiland"]
license = "MPL-2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
